@CHARSET "UTF-8";

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-indicators {
	background-color: #F2DEDE;	
}

/* Declare heights because of positioning of img element */
.carousel .item {

  height: 400px;

}


.carousel-caption {
	color: black; 
}

